@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
p,
input,
input::placeholder,
button,
a {
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  gap: 30px;
  margin-top: 30px;
}
input {
  width: 200px;
  height: 30px;
  padding-left: 15px;
  border-radius: 15px;
  border: rgb(154, 96, 30) 2px solid;
}
button {
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-weight: 500;
  background-color: rgba(154, 96, 30, 1);
  transition: 0.4s ease-in-out;
  color: #fbf5ee;
  cursor: pointer;
}
button:hover {
  background-color: rgba(154, 96, 30, 0.8);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #fbf5ee;
}
.bottom {
  bottom: -300%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
